*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}
form{
    padding: 50px;
}
.parent{
    display: flex;
    width: 400px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
    padding: 20px;  
 
}
h2,p{
    margin: 5px;
}
img{
    
    width: 100px;
    border-radius: 70px;
}