body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(248, 235, 219);
}
form{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 80px;
}

.text{
    background-color: white;
    border-radius: 0px 20px 20px 0px;
}

.child{
    width: 300px;
    height: 450px;

}
p{
    color: rgb(107, 107, 107);
    
}
h1{
    color: black;
    font-size: 40px;
}
.new{
    color:rgb(5, 173, 5);
    font-size: 20px;
   

}
.old{
    text-decoration-line:line-through
}
button{
    width: 250px;
    height: 30px;
    color: white;
    background-color: rgb(0, 129, 0);
   margin:15px ;
    border-radius:5px ;  
}

button:hover{
    background-color: rgb(0, 87, 0);
    
}