
:root {
    --primary-color: #3498db;
    --font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(26, 25, 25);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background: rgb(31, 30, 30);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.social-links {
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(41, 41, 41);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-link:hover {
    background-color: rgb(12, 12, 15);
}
h1{
    color: white;
}
p{
    color: rgb(19, 204, 19);
}